* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --blue-primary-color-1: #1695A4;
  --blue-primary-color-2: #19A7B8;
  --primary-color-2: #E38221;
  --footer-color: #08383D;
  --footer-color-2: #09454D;
  --footer-text-input-bg-color: #125760;
  --footer-btn-color: #092E32;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
}

body {
  overflow-x: hidden;
  background-color: #EBFAFC;
}